@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Proza+Libre:wght@400&family=Roboto+Slab:wght@500&family=Ubuntu&display=swap');

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }
  
  section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Inknut Antiqua', serif;
    }

    p {
      font-family: 'Proza Libre', sans-serif;
    }
  
  footer {
    background-color: #e6e6e6;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }